
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="text-center align-text-top text-success">Chào mừng đến với trang admin</h1>
    </div>
</main>
