
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Chúng tôi là Hội Quán Thức Ăn Nhanh !!
                        </h2>
                    </div>
                    <p>
                        Ăn Nhanh Sống Vội !!
                    </p>
                    <a href="">
                        Đọc Thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

