
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<section class="page">
    <div class="container">
        <div class="pg_page padding-top-15">
            <div class="row">
                <div class="col-12">
                    <div class="page-title category-title">
                        <h1 class="title-head"><a href="https://zendo.mysapo.net/gioi-thieu#">Giới thiệu</a></h1>
                    </div>
                    <div class="content-page rte">
                        <p><strong>HUFI FASTFOOD - CỬA HÀNG THỨC ĂN NHANH CHO NHỮNG TÍN ĐỒ SÀNH ĐIỆU VÀ ĐAM MÊ ẨM THỰC</strong></p>
                        <p>BẠN ĐANG TÌM KIẾM NHỮNG MÓN ĂN NHANH< TIỆN LỢI NHƯNG PHẢI ĐẢM BẢO VỀ DINH DƯỠNG VÀ MỨC GIÁ HỢP LÍ? CHÀO MỪNG BẠN ĐẾN VỚI HUFI FASTFOOD</p>
                        <p>Nhằm mang đến cho sinh viên những món ăn nhanh, tiện lợi với mức giá phù hợp. HUFI FASTFOOD ra đời như một đam mê, nhiệt huyết và cả tâm tình của nhóm dành đến cho các bạn sinh viên, để mọi người có cái nhìn khác về thức ăn nhanh.</p>
          
                        <p><strong>GIẢI PHÁP HOÀN HẢO CHO MỘT BỮA ĂN TIỆN LỢI</strong></p>
                        <p>Chúng tôi luôn tự làm mới mình, thay đổi món ăn theo ý muốn của khách hàng để thực đơn không trở nên nhàm chán, luôn luôn cải thiện chất lượng các món ăn để khách hàng có được những trải nghiệp tốt nhất khi dùng bữa tại HUFIFASTFOOD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

